doctype html
html
  head
    title ize.mba
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather:300,700|Roboto+Slab:700')
    link(rel='stylesheet', href='/style/main.css')
  body
    div.ize-app
        h1 ☞ ize.mba
        p.
            My name is Izaak Baker. I live in #[a(href='https://en.wikipedia.org/wiki/New_York_City') New York City], where
            I work as a software engineer for #[a(href='https://www.palantir.com') Palantir].  